
.list-background {
    background-color: white;
}

.list-background:link {
    color: #0f0f0f;
}

.list-background:visited {
    background-color: white;
    color: #0f0f0f;
}

#container {
    width: 723px;
    height: 231px;
    border: 3px solid #333;
    overflow: hidden;
    position: relative;
    margin: 0.3rem auto 0px;

}

#list {
    width: 5061px;
    height: 400px;
    position: absolute;
    z-index: 1;
}

#list img {
    float: left;
}

#buttons {
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left: 350px;
}

#buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 5px;
}

#buttons .on {
    background: orangered;
}

.arrow {
    cursor: pointer;
    display: none;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 100px;
    background-color: RGBA(0, 0, 0, .3);
    color: #fff;
}

.arrow:hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

.main {
    font-weight: bold;
    color: #ffffff;
    font-size: 0.2rem;
    position: relative;
    width: 726px;
    margin: 0.3rem auto 0px;
}

#menu {
    top: 180px;
    left: 50%;
    margin-left: 400px;
    width: 80px;
    position: fixed;
    border-radius: 25px;
}

#menu ul li {
    display: block;
    color: #333;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}

#menu ul li:hover {
    border-radius: 20px;
    display: block;
    background-color: #0f0f0f;
    color: #fff;
}
#menu ul li a{
    background-color: #0f0f0f;
    color: #fff;
}
#menu .current {
    display: block;
    border-radius: 20px;
    color: #fff;
    background:#333333;
}
#menu ul .menu-4{
    border-top: 3px solid #333333;
}
#menu ul .menu-5 {
    border-bottom: 3px solid #333333;
}
#content{
    padding:30px;
    border: 3px solid #333333;
}
#content .item{
    margin-top: 20px;
    border-bottom: 3px solid #333333;

}
#content .item h2 {
    color: gainsboro;
    font-size:20px;
    margin: auto;
    border-bottom: 3px solid #0f0f0f;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#content .item li {
    margin:25px 0 0 66px;
    display: inline-block;
    height:280px;
    width: 230px;
}
#content .item li a:hover{
    background-color:black;
}
.item li a img {
    width: 230px;
    height: 230px;
}
.span1{
    text-align: center;
    display: block;
    margin-top:5px;
}
